.idea
.vscode

01_Pengenalan-Python/__pycache__/
02_Variabel-Data-Pada-Python/__pycache__/
03_Macam-Macam-Tipe-Data/__pycache__/
04_Casting-Tipe-Data/__pycache__/
05_Mengambil-Input-Dari-User/__pycache__/
06_Operasi-Aritmatika/__pycache__/
07_Latihan-Perhitungan-Sederhana/__pycache__/
08_Operasi-Komperasi/__pycache__/
09_Operasi-Logika-Bollean/__pycache__/
10_Latihan-Komperasi Dan-Logika/__pycache__/
11_Operator-Bitwise/__pycache__/
12_Operator-Assigment/__pycache__/
13_Pengenalan-String/__pycache__/
14_Operasi-Manipulasi-String-Part(1)/__pycache__/
15_Operasi-Manipulasi-String-Part(2)/__pycache__/
16_Pengenalan-List/__pycache__/
17_Pengenalan-If-Elif-Else/__pycache__/
18_Belajar-Foor-Loop/__pycache__/
19_For-Else-Range,Break/__pycache__/
20_Belajar-Continue-&-Pass/__pycache__/
21_While-Loop-&-Latihan-Dasar/__pycache__/
22_Belajar-Function/__pycache__/
23_Function-&-Argument/__pycache__/
24_Return-Value/__pycache__/
25_Lambda-Function/__pycache__/
26_Scope-Global-Lokal/__pycache__/
27_More-On-List/__pycache__/
28_Stack-Dan-Queses/__pycache__/
29_Tipe-Data-Tuple-&-Test-Tuple/__pycache__/
30_Tipe-Data-Set/__pycache__/
31_Tipe-Data-Dictionary/__pycache__/
32_Teknik-Looping/__pycache__/
33_Belajar-Import/__pycache__/
34_Berbagai-Cara-Membuat-Modul/__pycache__/
35_Membuat-Package-Di-Python/__pycache__/
35_Membuat-Package-Di-Python/sains/__pycache__/
36_Belajar-_main_/__pycache__/
37_Pengenalan-Class/__pycache__/
38_Membuat-Method-Dalam-Class/__pycache__/
39_Belajar-Tentang-__init__/__pycache__/
40_Private-Attribut/__pycache__/
41_Belajar-Class-Variable/__pycache__/
42_Pengenalan-Inheritence-Warisan/__pycache__/
42_Pengenalan-Inheritence-Warisan/__pycache__/
43_Belajar-Input-Dan-Ouput/__pycache__/
44_GUI-Sederhana-Dan-Build-Package-Python/__pycache__/
45_Belajar-Menginstall-Package-Dengan-pip/__pycache__/
46_Belajar-Membuat-Virtual-Envirotment-Dan-Migrasi/__pycache__/
46_Belajar-Membuat-Virtual-Envirotment-Dan-Migrasi/Project1/bin/
46_Belajar-Membuat-Virtual-Envirotment-Dan-Migrasi/Project1/lib/
46_Belajar-Membuat-Virtual-Envirotment-Dan-Migrasi/Project1/lib64/
46_Belajar-Membuat-Virtual-Envirotment-Dan-Migrasi/Project1/share/
46_Belajar-Membuat-Virtual-Envirotment-Dan-Migrasi/Project1/pyvenv.cfg/
47_Belajar-Eror-Handling-Try-7-Except/__pycache__/